body {
    margin: 0;
    background-color: #f4f4f4;
}


header {
    width: 100%;
    height: 100px;
    background-color: rgb(138, 51, 51);
}

header p {
    text-align: center;
    padding: 30px;
    font-size: larger;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: lightcoral;
    padding: 1rem 1.5rem;
    box-shadow: 5px 5px 5px grey;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 6px;
}

h2 {
    color: rgb(0, 0, 0);
    font-size: 28px;
    align-self: center;
}

h3 {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}



/*cards*/

.container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card h2 {
    margin: 15px 0;
    font-size: 1.5em;
    color: #333;
}

.card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 15px;
}

.card button:hover {
    background-color: #0056b3;
}

.Products{
    margin: auto;
    margin-top: 100px;
    border: 3px solid black;
    width: 300px;
    align-items: center;
    align-content: center;
    align-self: center;
    
}
.Products h2 {
    text-align: center;
}
.Products img{
    margin: auto;
}
.Products div{
    display: flex;
}
.Products div button{
    background-color: #0056b3;
    border-radius: 7px;
    width: 30px;
    color: white;
    margin: auto;
    
}
.AddToCard{
    background-color: red;
}
.Products p{
    text-align: center;
}